/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Raleway', sans-serif;
}

/* Color Variables */
/* :root {
    --lt-gray: #f2f2f2;
    --med-gray: #d9d9d9;
    --dk-gray: #525252;
    --blue: #0094FF;
    --red: #FF6262;
} */

/* Page Styles */
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 95vh;
}

svg {
    fill: #525252;
}

.sidebar {
    background-color: #f2f2f2;
    padding: 20px 30px;
    display: grid;
    grid-template-rows: repeat(12, 1fr) ;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    grid-area: 1 / 1 / 2 / 1;
}

.logo-icon {
    width: 60px;
}

.logo > h1 {
    font-size: 28px;
    color: #525252;
    font-weight:600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: 10px;
}

.nav {
    grid-row-start: 3;
    grid-row-end: 13;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top-nav {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35px;
    width: 100%;
}

.bottom-nav {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 35px;
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.nav-link > svg {
    margin: 0 16px;
    width: 28px;
}

.bottom-nav a {
    text-decoration: none;
}

.nav-link > h2 {
    font-weight: 500;
    color: #525252;
    letter-spacing: 1.8px;
    font-size: 18px;
    margin-left: 10px;
}

.main {
    background-color: #FFFFFF;
    padding: 20px 30px;
    display: grid;
    grid-template-rows: repeat(2, 1fr) ;
}

.header {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border-bottom: solid 1px #f2f2f2;
    padding: 0 0 20px 0;
}

.top-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.search > svg {
    height: 32px;
}

.search > input {
    background-color: #d9d9d9;
    color: #525252;
    border-radius: 2em;
    width: 600px;
    padding: 14px 0 14px 24px;
    margin-left: 20px;
    border: none;
}

#light-dark-icon {
    fill: none;
    stroke: #525252;
}

.light-dark {
    display: flex;
    flex-direction: row;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 50px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #525252;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #d9d9d9;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked + .slider {
    background-color: #525252;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.app-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.app-controls > svg {
    height: 32px;
}

.account-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.account-info > h3 {
    font-weight: 500;
    color: #525252;
    letter-spacing: 1.8px;
    font-size: 18px;
    margin-left: 20px;
}

.bottom-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top:20px;
}

.account-name {
    margin-left: 20px;
}

.account-name > p {
    color: #525252;
    font-size: 12px;
    font-weight: 600;
}

.account-name > h3 {
    font-size: 20px;
    color: #525252;
    font-weight: 600;
    letter-spacing: 1.4px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 10px;
}


.cta {
    background-color: #0094FF;
    color: white;
    text-decoration: none;
    padding: 14px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.4px;
    width: 120px;
    border-radius: 100px;
    text-align: center;
}

.dashboard {
    padding: 20px 0px 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.project-area {
    display: flex;
    flex-direction: column;
}

.headline {
    font-size: 20px;
    color: #525252;
    font-weight: 600;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.project-card {
    background-color: #f2f2f2;
    height: 200px;
    border-radius: 15px;
    padding: 30px;
}

.blue {
    border-left: solid 15px #0094FF;
}

.red {
    border-left: solid 15px #FF6262;
}

.card-content {
    margin: 20px 0 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 18px;
    font-weight: 700;
    color: #525252;
    letter-spacing: 1.6px;
}

.card-content > div > p {
    font-size: 16px;
    line-height:1.6;
    margin-top: 8px;
    font-weight: 200;
    color: #525252;
}

.content-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    margin-bottom: 10px;
}

.content-icon {
    height: 28px;
    margin-left: 10px;
}

.right-column {
    padding-left: 20px;
}

.announcements {
    background-color: #0094FF;
    color:#f2f2f2;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.announcement > h5 {
    font-size:18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.announcement > p {
    font-size: 16px;
    line-height: 1.2;
}

.line {
    border: .5px solid #f2f2f2;
    margin: 30px 0;
}

.trending-accounts {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.trending-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.trending-account-name {
    font-size: 18px;
    color:#525252;
    margin-left: 20px;
}

.trending-account-name > h3 {
    font-weight: 700;
    margin-bottom: 6px;
} 